@import "base";

// Navigation Section
#navigation {
  padding: 20px 40px;
  background-color: $color-black-strong;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.navbar-dark {
  .navbar-brand {
    color: $color-brown-strong;
    font-family: $font-val;
    text-transform: uppercase;
    font-size: 65px;
    line-height: 80px;
  }

  .navbar-nav {
    .nav-link {
      color: $color-brown-strong;
      font-family: $font-ramble-regular;
      font-size: 25px;
      line-height: 30px;
      text-transform: uppercase;
    }

    .nav-link.active,
    .nav-link:hover {
      color: $color-white;
      box-shadow: inset 0 -5px 0 0 $color-dead-red;
    }
    .social {
      padding-left: 30px;
    }
  }

  .btn {
    margin-left: 50px;
    padding: 15px 20px;
    font-size: 25px;
    line-height: 30px;
    color: $color-brown-strong;
    font-family: $font-ramble-bold;
    text-transform: uppercase;
    border-color: $color-brown-strong;
    border-width: 4px;
    border-radius: 10px;
  }
}

// Home Section

#home {
  padding-top: 325px;
  padding-left: 170px;
  background-color: $color-black-strong;
  min-height: 100vh;
  button {
    margin-left: 10px;
    padding: 15px 25px;
    font-size: 30px;
    line-height: 40px;
    color: $color-brown-strong;
    font-family: $font-ramble-bold;
    text-transform: uppercase;
  }

  .btn-custom {
    border-color: $color-brown-strong;
    border-width: 4px;
    border-radius: 10px;
  }
}

#home-content {
  width: 500px;
  background-color: $color-brown-weak;
  border-color: $color-brown-strong;
  border-width: 10px;
  border-style: inset;
  span {
    color: $color-black-weak;
    font-family: $font-ramble-bold;
    font-size: 85px;
    line-height: 85px;
    text-transform: uppercase;
  }
}

#home-detail {
  width: 500px;
  padding: 20px 10px;
  span {
    color: $color-brown-strong;
    font-family: $font-voces-regular;
    font-size: 35px;
    line-height: 40px;
  }
}

#home-image {
  margin-top: -120px;
  .brains-group {
    width: 100%;
  }
}

// About Section

#about {
  padding-top: 200px;
  padding-left: 110px;
  background-color: $color-brown-strong;
  min-height: 100vh;
  button {
    padding: 15px;
    font-size: 25px;
    line-height: 30px;
    color: $color-brown-strong;
    font-family: $font-ramble-bold;
  }
}

#about-content {
  width: 550px;
  background-color: $color-black-weak;
  border-color: $color-black-strong;
  border-width: 10px;
  border-style: inset;
  span {
    color: $color-brown-strong;
    font-family: $font-ramble-bold;
    font-size: 85px;
    line-height: 85px;
    text-transform: uppercase;
  }
}

#about-detail {
  width: 650px;
  padding-top: 20px;
  span {
    color: $color-black-weak;
    font-family: $font-voces-regular;
    font-size: 25px;
    line-height: 40px;
  }
}

#about-button {
  button {
    margin-left: 5px;
    padding: 5px 20px;
    font-size: 25px;
    line-height: 30px;
    color: $color-brown-strong;
    font-family: $font-ramble-bold;
    background-color: $color-black-strong;
    border-radius: 10px;
    border-color: $color-black-strong;
    border-width: 4px;
  }
}

#about-images {
  .oneHead {
    width: 75%;
  }
}

// Perks Section

#perks {
  padding-top: 200px;
  padding-left: 110px;
  padding-right: 110px;
  background-color: $color-black-weak;
  min-height: 100vh;
}

#perks-content {
  width: 860px;
  background-color: $color-brown-weak;
  border-color: $color-brown-strong;
  border-width: 10px;
  border-style: inset;
  span {
    color: $color-black-strong;
    font-family: $font-ramble-bold;
    font-size: 85px;
    line-height: 85px;
    text-transform: uppercase;
  }
}

#perks-accordion {
  margin-top: 70px;
  .accordion-item {
    margin-top: 20px;
    border: none;
    .accordion-header {
      .accordion-button {
        font-size: 40px;
        line-height: 50px;
        font-family: $font-ramble-bold;
        background-color: $color-brown-strong;
        color: $color-black-strong;
      }
      .accordion-button::after {
        background-image: url("../img/black-down.png");
      }
      .accordion-button.collapsed {
        font-size: 40px;
        line-height: 50px;
        font-family: $font-ramble-bold;
        background-color: $color-black-strong;
        color: $color-brown-weak;
      }
      .accordion-button.collapsed::after {
        background-image: url("../img/yellow-down.png");
      }
    }
    .accordion-body {
      color: $color-black-strong;
      font-family: $font-voces-regular;
      font-size: 28px;
      line-height: 38px;
      background-color: $color-brown-weak;
    }
  }
}

// Treasury Section

#treasury {
  padding-top: 200px;
  padding-left: 110px;
  padding-right: 110px;
  background-color: $color-black-strong;
  min-height: 100vh;
}

#treasury-title {
  background-color: $color-brown-weak;
  border-color: $color-brown-strong;
  border-width: 10px;
  border-style: inset;
  span {
    color: $color-black-strong;
    font-family: $font-ramble-bold;
    font-size: 85px;
    line-height: 85px;
    text-transform: uppercase;
  }
}

#treasury-content {
  font-size: 28px;
  line-height: 38px;
  color: $color-brown-weak;
  font-family: $font-voces-regular;
  margin-top: 20px;
}

#treasury-accordion {
  .accordion-item {
    border: none;
    margin-top: 20px;
    .accordion-header {
      .accordion-button {
        background-color: $color-brown-strong;
        font-size: 40px;
        line-height: 50px;
        font-family: $font-ramble-bold;
        color: $color-black-strong;
        padding: 5px 15px;
      }
      .accordion-button::after {
        background-image: url("../img/black-down.png");
      }
      .accordion-button.collapsed {
        font-size: 40px;
        line-height: 50px;
        font-family: $font-ramble-bold;
        background-color: $color-black-weak;
        color: $color-brown-weak;
      }
      .accordion-button.collapsed::after {
        background-image: url("../img/yellow-strong-down.png");
      }
    }
    .accordion-body {
      color: $color-brown-weak;
      font-family: $font-voces-regular;
      font-size: 28px;
      line-height: 38px;
      background-color: $color-black-strong;
    }
  }
}

#treasury-image {
  .ethereum {
    width: 65%;
  }
}

// Parity Section

#parity {
  padding-top: 200px;
  padding-left: 110px;
  padding-right: 110px;
  background-color: $color-brown-strong;
  min-height: 100vh;
}

#parity-title {
  background-color: $color-black-weak;
  border-color: $color-black-strong;
  border-width: 10px;
  border-style: inset;
  width: 320px;
  span {
    color: $color-brown-strong;
    font-family: $font-ramble-bold;
    font-size: 87px;
    line-height: 87px;
    text-transform: uppercase;
  }
}

#parity-content {
  font-size: 28px;
  line-height: 42px;
  color: $color-black-weak;
  font-family: $font-voces-regular;
  margin-top: 20px;
}

#parity-detail-title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 60px;
  font-family: $font-ramble-bold;
  line-height: 60px;
  color: $color-black-weak;
}

#parity-detail {
  font-family: $font-voces-regular;
  font-size: 28px;
  line-height: 42px;
  color: $color-black-weak;
  padding-left: 30px;
}

#parity-image {
  .parity {
    width: 85%;
  }
}

// Roadmap Section

#roadmap {
  padding-top: 200px;
  padding-left: 110px;
  padding-right: 110px;
  background-color: $color-black-weak;
  min-height: 100vh;
}

#roadmap-title {
  background-color: $color-brown-weak;
  border-color: $color-brown-strong;
  border-width: 10px;
  border-style: inset;
  width: 430px;
  span {
    color: $color-black-strong;
    font-family: $font-ramble-bold;
    font-size: 85px;
    line-height: 85px;
    text-transform: uppercase;
  }
}

#roadmap-phase {
  font-size: 60px;
  line-height: 70px;
  color: $color-brown-strong;
  font-family: $font-ramble-bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

#roadmap-accordion {
  padding: 0px;
  .accordion-item {
    border: none;
    margin-top: 20px;
    .accordion-header {
      .accordion-button {
        background-color: $color-brown-strong;
        font-size: 40px;
        line-height: 50px;
        font-family: $font-ramble-bold;
        color: $color-black-strong;
        padding: 5px 15px;
      }
      .accordion-button::after {
        background-image: url("../img/black-down.png");
      }
      .accordion-button.collapsed {
        font-size: 40px;
        line-height: 50px;
        font-family: $font-ramble-bold;
        background-color: $color-black-strong;
        color: $color-brown-weak;
      }
      .accordion-button.collapsed::after {
        background-image: url("../img/yellow-strong-down.png");
      }
    }
    .accordion-body {
      color: $color-black-strong;
      font-family: $font-voces-regular;
      font-size: 24px;
      line-height: 42px;
      background-color: $color-brown-weak;
    }
  }
}

// Team Section

#team {
  padding-top: 200px;
  padding-left: 110px;
  padding-right: 110px;
  background-color: $color-black-strong;
  min-height: 100vh;
  .card {
    margin-bottom: 30px;
    .card-body {
      background-color: $color-black-weak;
    }
    .card-text {
      font-family: $font-voces-regular;
      font-size: 28px;
      color: $color-brown-strong;
    }
  }
  #team-title {
    background-color: $color-brown-weak;
    border-color: $color-brown-strong;
    border-width: 10px;
    border-style: inset;
    width: 430px;
    margin-bottom: 50px;
    span {
      color: $color-black-strong;
      font-family: $font-ramble-bold;
      font-size: 85px;
      line-height: 85px;
      text-transform: uppercase;
    }
  }
}

// FAQ Section

#faq {
  padding-top: 200px;
  padding-left: 110px;
  padding-right: 110px;
  background-color: $color-brown-strong;
  min-height: 100vh;
}

#faq-title {
  background-color: $color-black-weak;
  border-color: $color-black-strong;
  border-width: 10px;
  border-style: inset;
  width: 350px;
  span {
    color: $color-brown-strong;
    font-family: $font-ramble-bold;
    font-size: 85px;
    line-height: 85px;
    text-transform: uppercase;
  }
}

#faq-accordion {
  .accordion-item {
    border: none;
    margin-top: 20px;
    .accordion-header {
      .accordion-button {
        background-color: $color-black-strong;
        font-size: 40px;
        line-height: 50px;
        font-family: $font-ramble-bold;
        color: $color-brown-strong;
        padding: 5px 15px;
      }
      .accordion-button::after {
        background-image: url("../img/yellow-strong-down.png");
      }
      .accordion-button.collapsed {
        font-size: 40px;
        line-height: 50px;
        font-family: $font-ramble-bold;
        background-color: $color-black-weak;
        color: $color-brown-weak;
      }
      .accordion-button.collapsed::after {
        background-image: url("../img/yellow-strong-down.png");
      }
    }
    .accordion-body {
      color: $color-black-strong;
      font-family: $font-voces-regular;
      font-size: 28px;
      line-height: 38px;
      background-color: $color-brown-weak;
    }
  }
}

//Info Section

#info {
  background-color: $color-black-weak;
  padding: 15px 0px;
  span {
    font-family: $font-voces-regular;
    font-size: 20px;
    color: $color-brown-strong;
  }
}

@media only screen and (min-width: 1280px) {
  // Navigation Section
  #navigation {
    padding: 0px 35px;
  }

  .navbar-dark {
    .navbar-brand {
      font-size: 50px;
      line-height: 60px;
    }

    .navbar-nav {
      .nav-link {
        font-size: 15px;
        line-height: 20px;
      }
      .social {
        padding-left: 20px;
      }
    }

    .btn {
      margin-left: 35px;
      padding: 5px 15px;
      font-size: 15px;
      line-height: 20px;
      border-width: 2px;
      border-radius: 5px;
    }
  }

  // Home Section

  #home {
    padding-top: 240px;
    padding-left: 90px;
    button {
      margin-left: 10px;
      padding: 10px 15px;
      font-size: 20px;
      line-height: 30px;
    }

    .btn-custom {
      border-width: 2px;
      border-radius: 5px;
    }
  }

  #home-content {
    width: 420px;
    border-width: 5px;
    margin-top: 40px;
    span {
      font-size: 60px;
      line-height: 60px;
    }
  }

  #home-detail {
    width: 450px;
    padding: 20px 10px;
    span {
      font-size: 25px;
      line-height: 30px;
    }
  }

  #home-image {
    margin-top: -70px;
    .brains-group {
      width: 100%;
    }
  }

  // About Section

  #about {
    padding-top: 120px;
    padding-left: 90px;
    button {
      padding: 10px;
      font-size: 20px;
      line-height: 25px;
    }
  }

  #about-content {
    width: 400px;
    border-width: 10px;
    span {
      font-size: 60px;
      line-height: 60px;
    }
  }

  #about-detail {
    width: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
    span {
      font-size: 20px;
      line-height: 30px;
    }
  }

  #about-button {
    button {
      margin-left: 3px;
      padding: 0px 18px;
      font-size: 20px;
      line-height: 25px;
      border-radius: 5px;
      border-width: 2px;
    }
  }

  #about-images {
    .oneHead {
      width: 75%;
    }
  }

  // Perks Section

  #perks {
    padding-top: 120px;
    padding-left: 70px;
    padding-right: 70px;
  }

  #perks-content {
    width: 600px;
    border-width: 5px;
    span {
      font-size: 60px;
      line-height: 60px;
    }
  }

  #perks-accordion {
    margin-top: 50px;
    .accordion-item {
      margin-top: 10px;
      .accordion-header {
        .accordion-button {
          font-size: 25px;
          line-height: 25px;
        }
        .accordion-button.collapsed {
          font-size: 25px;
          line-height: 25px;
        }
      }
      .accordion-body {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }

  // Treasury Section

  #treasury {
    padding-top: 100px;
    padding-left: 70px;
    padding-right: 70px;
  }

  #treasury-title {
    border-width: 5px;
    width: 630px;
    span {
      font-size: 60px;
      line-height: 60px;
    }
  }

  #treasury-content {
    font-size: 20px;
    line-height: 25px;
    margin-top: 10px;
  }

  #treasury-accordion {
    .accordion-item {
      margin-top: 10px;
      .accordion-header {
        .accordion-button {
          font-size: 27px;
          line-height: 32px;
        }
        .accordion-button.collapsed {
          font-size: 27px;
          line-height: 32px;
        }
      }
      .accordion-body {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }

  #treasury-image {
    .ethereum {
      width: 55%;
    }
  }

  // Parity Section

  #parity {
    padding-top: 120px;
    padding-left: 70px;
    padding-right: 70px;
  }

  #parity-title {
    border-width: 5px;
    width: 210px;
    span {
      font-size: 60px;
      line-height: 60px;
    }
  }

  #parity-content {
    font-size: 20px;
    line-height: 30px;
    margin-top: 15px;
  }

  #parity-detail-title {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 40px;
    line-height: 40px;
  }

  #parity-detail {
    font-size: 20px;
    line-height: 30px;
    padding-left: 30px;
  }

  #parity-image {
    .parity {
      width: 95%;
    }
  }

  // Roadmap Section

  #roadmap {
    padding-top: 120px;
    padding-left: 70px;
    padding-right: 70px;
  }

  #roadmap-title {
    border-width: 5px;
    width: 300px;
    span {
      font-size: 60px;
      line-height: 60px;
    }
  }

  #roadmap-phase {
    font-size: 40px;
    line-height: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  #roadmap-accordion {
    .accordion-item {
      margin-top: 10px;
      .accordion-header {
        .accordion-button {
          font-size: 25px;
          line-height: 35px;
        }
        .accordion-button.collapsed {
          font-size: 25px;
          line-height: 35px;
        }
      }
      .accordion-body {
        font-size: 20px;
        line-height: 20px;
      }
    }
  }

  // Team Section

  #team {
    padding-top: 120px;
    padding-left: 70px;
    padding-right: 70px;
    .card {
      margin-bottom: 20px;
      .card-text {
        font-size: 25px;
      }
    }
    #team-title {
      border-width: 5px;
      width: 310px;
      margin-bottom: 20px;
      span {
        font-size: 60px;
        line-height: 60px;
      }
    }
  }

  // FAQ Section

  #faq {
    padding-top: 120px;
    padding-left: 70px;
    padding-right: 70px;
  }

  #faq-title {
    border-width: 5px;
    width: 160px;
    span {
      font-size: 60px;
      line-height: 60px;
    }
  }

  #faq-accordion {
    .accordion-item {
      margin-top: 10px;
      .accordion-header {
        .accordion-button {
          font-size: 25px;
          line-height: 35px;
        }
        .accordion-button.collapsed {
          font-size: 25px;
          line-height: 35px;
        }
      }
      .accordion-body {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }

  //Info Section

  #info {
    padding: 10px 0px;
    span {
      font-size: 13px;
    }
  }
}

@media only screen and (min-width: 1440px) {    
  // Navigation Section
  #navigation {
    padding: 10px 35px;
  }

  .navbar-dark {
    .navbar-brand {
      font-size: 60px;
      line-height: 75px;
    }

    .navbar-nav {
      .nav-link {
        font-size: 20px;
        line-height: 25px;
      }
      .social {
        padding-left: 25px;
      }
    }

    .btn {
      margin-left: 45px;
      padding: 13px 18px;
      font-size: 20px;
      line-height: 25px;
      border-width: 4px;
      border-radius: 10px;
    }
  }

  // Home Section

  #home {
    padding-top: 250px;
    padding-left: 120px;
    button {
      margin-left: 10px;
      padding: 13px 20px;
      font-size: 25px;
      line-height: 35px;
    }

    .btn-custom {
      border-width: 2px;
      border-radius: 5px;
    }
  }

  #home-content {
    width: 420px;
    border-width: 10px;
    margin-top: 40px;
    span {
      font-size: 70px;
      line-height: 70px;
    }
  }

  #home-detail {
    width: 450px;
    padding: 20px 10px;
    span {
      font-size: 30px;
      line-height: 35px;
    }
  }

  #home-image {
    margin-top: -10px;
    .brains-group {
      width: 100%;
    }
  }

  // About Section

  #about {
    padding-top: 140px;
    padding-left: 90px;
    button {
      padding: 10px;
      font-size: 20px;
      line-height: 25px;
    }
  }

  #about-content {
    width: 460px;
    border-width: 5px;
    span {
      font-size: 70px;
      line-height: 70px;
    }
  }

  #about-detail {
    width: 600px;
    padding-top: 20px;
    padding-bottom: 20px;
    span {
      font-size: 23px;
      line-height: 33px;
    }
  }

  #about-button {
    button {
      margin-left: 5px;
      padding: 5px 18px;
      font-size: 23px;
      line-height: 28px;
      border-radius: 10px;
      border-width: 4px;
    }
  }

  #about-images {
    .oneHead {
      width: 75%;
    }
  }

  // Perks Section

  #perks {
    padding-top: 140px;
    padding-left: 90px;
    padding-right: 90px;
  }

  #perks-content {
    width: 720px;
    border-width: 5px;
    span {
      font-size: 70px;
      line-height: 70px;
    }
  }

  #perks-accordion {
    margin-top: 50px;
    .accordion-item {
      margin-top: 10px;
      .accordion-header {
        .accordion-button {
          font-size: 30px;
          line-height: 30px;
        }
        .accordion-button.collapsed {
          font-size: 30px;
          line-height: 30px;
        }
      }
      .accordion-body {
        font-size: 23px;
        line-height: 33px;
      }
    }
  }

  // Treasury Section

  #treasury {
    padding-top: 140px;
    padding-left: 90px;
    padding-right: 90px;
  }

  #treasury-title {
    border-width: 5px;
    width: 740px;
    span {
      font-size: 70px;
      line-height: 70px;
    }
  }

  #treasury-content {
    font-size: 23px;
    line-height: 33px;
    margin-top: 15px;
  }

  #treasury-accordion {
    .accordion-item {
      margin-top: 10px;
      .accordion-header {
        .accordion-button {
          font-size: 30px;
          line-height: 35px;
        }
        .accordion-button.collapsed {
          font-size: 30px;
          line-height: 35px;
        }
      }
      .accordion-body {
        font-size: 23px;
        line-height: 33px;
      }
    }
  }

  #treasury-image {
    .ethereum {
      width: 55%;
    }
  }

  // Parity Section

  #parity {
    padding-top: 140px;
    padding-left: 90px;
    padding-right: 90px;
  }

  #parity-title {
    border-width: 5px;
    width: 250px;
    span {
      font-size: 70px;
      line-height: 70px;
    }
  }

  #parity-content {
    font-size: 23px;
    line-height: 33px;
    margin-top: 20px;
  }

  #parity-detail-title {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 50px;
    line-height: 50px;
  }

  #parity-detail {
    font-size: 23px;
    line-height: 28px;
    padding-left: 30px;
  }

  #parity-image {
    .parity {
      width: 95%;
    }
  }

  // Roadmap Section

  #roadmap {
    padding-top: 140px;
    padding-left: 90px;
    padding-right: 90px;
  }

  #roadmap-title {
    border-width: 5px;
    width: 360px;
    span {
      font-size: 70px;
      line-height: 70px;
    }
  }

  #roadmap-phase {
    font-size: 50px;
    line-height: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #roadmap-accordion {
    .accordion-item {
      margin-top: 10px;
      .accordion-header {
        .accordion-button {
          font-size: 30px;
          line-height: 40px;
        }
        .accordion-button.collapsed {
          font-size: 30px;
          line-height: 40px;
        }
      }
      .accordion-body {
        font-size: 23px;
        line-height: 23px;
      }
    }
  }

  // Team Section

  #team {
    padding-top: 140px;
    padding-left: 90px;
    padding-right: 90px;
    .card {
      margin-bottom: 30px;
      .card-body {
      }
      .card-text {
        font-size: 25px;
      }
    }
    #team-title {
      border-width: 5px;
      width: 360px;
      margin-bottom: 30px;
      span {
        font-size: 70px;
        line-height: 70px;
      }
    }
  }

  // FAQ Section

  #faq {
    padding-top: 140px;
    padding-left: 90px;
    padding-right: 90px;
  }

  #faq-title {
    border-width: 5px;
    width: 190px;
    span {
      font-size: 70px;
      line-height: 70px;
    }
  }

  #faq-accordion {
    .accordion-item {
      margin-top: 10px;
      .accordion-header {
        .accordion-button {
          font-size: 30px;
          line-height: 40px;
        }
        .accordion-button.collapsed {
          font-size: 30px;
          line-height: 40px;
        }
      }
      .accordion-body {
        font-size: 23px;
        line-height: 33px;
      }
    }
  }

  //Info Section

  #info {
    padding: 13px 0px;
    span {
      font-size: 15px;
    }
  }
}

@media only screen and (min-width: 1600px) {
  // Navigation Section
  #navigation {
    padding: 10px 35px;
  }

  .navbar-dark {
    .navbar-brand {
      font-size: 60px;
      line-height: 75px;
    }

    .navbar-nav {
      .nav-link {
        font-size: 20px;
        line-height: 25px;
      }
      .social {
        padding-left: 25px;
      }
    }

    .btn {
      margin-left: 45px;
      padding: 13px 18px;
      font-size: 20px;
      line-height: 25px;
      border-width: 4px;
      border-radius: 10px;
    }
  }

  // Home Section

  #home {
    padding-top: 250px;
    padding-left: 150px;
    button {
      margin-left: 10px;
      padding: 13px 20px;
      font-size: 25px;
      line-height: 35px;
    }

    .btn-custom {
      border-width: 4px;
      border-radius: 10px;
    }
  }

  #home-content {
    width: 420px;
    border-width: 10px;
    margin-top: 40px;
    span {
      font-size: 70px;
      line-height: 70px;
    }
  }

  #home-detail {
    width: 450px;
    padding: 20px 10px;
    span {
      font-size: 30px;
      line-height: 35px;
    }
  }

  #home-image {
    margin-top: -70px;
    .brains-group {
      width: 100%;
    }
  }

  // About Section

  #about {
    padding-top: 180px;
    padding-left: 90px;
    button {
      padding: 10px;
      font-size: 20px;
      line-height: 25px;
    }
  }

  #about-content {
    width: 460px;
    border-width: 10px;
    span {
      font-size: 70px;
      line-height: 70px;
    }
  }

  #about-detail {
    width: 600px;
    padding-top: 20px;
    padding-bottom: 20px;
    span {
      font-size: 23px;
      line-height: 33px;
    }
  }

  #about-button {
    button {
      margin-left: 5px;
      padding: 5px 18px;
      font-size: 23px;
      line-height: 28px;
      border-radius: 10px;
      border-width: 4px;
    }
  }

  #about-images {
    .oneHead {
      width: 75%;
    }
  }

  // Perks Section

  #perks {
    padding-top: 180px;
    padding-left: 90px;
    padding-right: 90px;
  }

  #perks-content {
    width: 720px;
    border-width: 10px;
    span {
      font-size: 70px;
      line-height: 70px;
    }
  }

  #perks-accordion {
    margin-top: 50px;
    .accordion-item {
      margin-top: 10px;
      .accordion-header {
        .accordion-button {
          font-size: 30px;
          line-height: 30px;
        }
        .accordion-button.collapsed {
          font-size: 30px;
          line-height: 30px;
        }
      }
      .accordion-body {
        font-size: 23px;
        line-height: 33px;
      }
    }
  }

  // Treasury Section

  #treasury {
    padding-top: 160px;
    padding-left: 90px;
    padding-right: 90px;
  }

  #treasury-title {
    border-width: 10px;
    width: 740px;
    span {
      font-size: 70px;
      line-height: 70px;
    }
  }

  #treasury-content {
    font-size: 23px;
    line-height: 33px;
    margin-top: 15px;
  }

  #treasury-accordion {
    .accordion-item {
      margin-top: 10px;
      .accordion-header {
        .accordion-button {
          font-size: 30px;
          line-height: 35px;
        }
        .accordion-button.collapsed {
          font-size: 30px;
          line-height: 35px;
        }
      }
      .accordion-body {
        font-size: 23px;
        line-height: 33px;
      }
    }
  }

  #treasury-image {
    .ethereum {
      width: 55%;
    }
  }

  // Parity Section

  #parity {
    padding-top: 180px;
    padding-left: 90px;
    padding-right: 90px;
  }

  #parity-title {
    border-width: 10px;
    width: 250px;
    span {
      font-size: 70px;
      line-height: 70px;
    }
  }

  #parity-content {
    font-size: 23px;
    line-height: 33px;
    margin-top: 20px;
  }

  #parity-detail-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 50px;
    line-height: 50px;
  }

  #parity-detail {
    font-size: 23px;
    line-height: 33px;
    padding-left: 30px;
  }

  #parity-image {
    .parity {
      width: 85%;
    }
  }

  // Roadmap Section

  #roadmap {
    padding-top: 180px;
    padding-left: 90px;
    padding-right: 90px;
  }

  #roadmap-title {
    border-width: 10px;
    width: 360px;
    span {
      font-size: 70px;
      line-height: 70px;
    }
  }

  #roadmap-phase {
    font-size: 50px;
    line-height: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #roadmap-accordion {
    .accordion-item {
      margin-top: 10px;
      .accordion-header {
        .accordion-button {
          font-size: 30px;
          line-height: 40px;
        }
        .accordion-button.collapsed {
          font-size: 30px;
          line-height: 40px;
        }
      }
      .accordion-body {
        font-size: 23px;
        line-height: 23px;
      }
    }
  }

  // Team Section

  #team {
    padding-top: 180px;
    padding-left: 90px;
    padding-right: 90px;
    .card {
      margin-bottom: 30px;
      .card-body {
      }
      .card-text {
        font-size: 25px;
      }
    }
    #team-title {
      border-width: 10px;
      width: 360px;
      margin-bottom: 30px;
      span {
        font-size: 70px;
        line-height: 70px;
      }
    }
  }

  // FAQ Section

  #faq {
    padding-top: 180px;
    padding-left: 90px;
    padding-right: 90px;
  }

  #faq-title {
    border-width: 10px;
    width: 190px;
    span {
      font-size: 70px;
      line-height: 70px;
    }
  }

  #faq-accordion {
    .accordion-item {
      margin-top: 10px;
      .accordion-header {
        .accordion-button {
          font-size: 30px;
          line-height: 40px;
        }
        .accordion-button.collapsed {
          font-size: 30px;
          line-height: 40px;
        }
      }
      .accordion-body {
        font-size: 23px;
        line-height: 33px;
      }
    }
  }

  //Info Section

  #info {
    padding: 13px 0px;
    span {
      font-size: 15px;
    }
  }
}

@media only screen and (min-width: 1920px) {
  // Navigation Section
  #navigation {
    padding: 20px 40px;
  }

  .navbar-dark {
    .navbar-brand {
      font-size: 66px;
      line-height: 81px;
    }

    .navbar-nav {
      .nav-link {
        font-size: 25px;
        line-height: 30px;
      }
      .social {
        padding-left: 30px;
      }
    }

    .btn {
      margin-left: 50px;
      padding: 15px 20px;
      font-size: 25px;
      line-height: 30px;
      border-width: 4px;
      border-radius: 10px;
    }
  }

  // Home Section

  #home {
    padding-top: 325px;
    padding-left: 170px;
    button {
      margin-left: 10px;
      padding: 15px 25px;
      font-size: 32px;
      line-height: 40px;
    }

    .btn-custom {
      border-width: 4px;
      border-radius: 10px;
    }
  }

  #home-content {
    width: 510px;
    border-width: 10px;
    span {
      font-size: 87px;
      line-height: 87px;
    }
  }

  #home-detail {
    width: 510px;
    padding: 20px 10px;
    span {
      font-size: 37px;
      line-height: 42px;
    }
  }

  #home-image {
    margin-top: -120px;
    .brains-group {
      width: 100%;
    }
  }

  // About Section

  #about {
    padding-top: 200px;
    padding-left: 110px;
    button {
      padding: 15px;
      font-size: 25px;
      line-height: 30px;
    }
  }

  #about-content {
    width: 550px;
    border-width: 10px;
    span {
      font-size: 85px;
      line-height: 85px;
    }
  }

  #about-detail {
    width: 650px;
    padding-top: 20px;
    span {
      font-size: 25px;
      line-height: 40px;
    }
  }

  #about-button {
    button {
      margin-left: 5px;
      padding: 5px 20px;
      font-size: 25px;
      line-height: 30px;
      border-radius: 10px;
      border-width: 4px;
    }
  }

  #about-images {
    .oneHead {
      width: 75%;
    }
  }

  // Perks Section

  #perks {
    padding-top: 200px;
    padding-left: 110px;
    padding-right: 110px;
  }

  #perks-content {
    width: 860px;
    border-width: 10px;
    span {
      font-size: 85px;
      line-height: 85px;
    }
  }

  #perks-accordion {
    margin-top: 70px;
    .accordion-item {
      margin-top: 20px;
      .accordion-header {
        .accordion-button {
          font-size: 40px;
          line-height: 50px;
        }
        .accordion-button.collapsed {
          font-size: 40px;
          line-height: 50px;
        }
      }
      .accordion-body {
        font-size: 28px;
        line-height: 38px;
      }
    }
  }

  // Treasury Section

  #treasury {
    padding-top: 200px;
    padding-left: 110px;
    padding-right: 110px;
  }

  #treasury-title {
    border-width: 10px;
    width: 900px;
    span {
      font-size: 85px;
      line-height: 85px;
    }
  }

  #treasury-content {
    font-size: 28px;
    line-height: 38px;
    margin-top: 20px;
  }

  #treasury-accordion {
    .accordion-item {
      margin-top: 20px;
      .accordion-header {
        .accordion-button {
          font-size: 40px;
          line-height: 50px;
          padding: 5px 15px;
        }
        .accordion-button.collapsed {
          font-size: 40px;
          line-height: 50px;
        }
      }
      .accordion-body {
        font-size: 28px;
        line-height: 38px;
      }
    }
  }

  #treasury-image {
    .ethereum {
      width: 65%;
    }
  }

  // Parity Section

  #parity {
    padding-top: 200px;
    padding-left: 110px;
    padding-right: 110px;
  }

  #parity-title {
    border-width: 10px;
    width: 320px;
    span {
      font-size: 85px;
      line-height: 85px;
    }
  }

  #parity-content {
    font-size: 28px;
    line-height: 42px;
    margin-top: 20px;
  }

  #parity-detail-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 60px;
    line-height: 60px;
  }

  #parity-detail {
    font-size: 28px;
    line-height: 42px;
    padding-left: 30px;
  }

  #parity-image {
    .parity {
      width: 85%;
    }
  }

  // Roadmap Section

  #roadmap {
    padding-top: 200px;
    padding-left: 110px;
    padding-right: 110px;
  }

  #roadmap-title {
    border-width: 10px;
    width: 430px;
    span {
      font-size: 85px;
      line-height: 85px;
    }
  }

  #roadmap-phase {
    font-size: 60px;
    line-height: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #roadmap-accordion {
    .accordion-item {
      margin-top: 20px;
      .accordion-header {
        .accordion-button {
          font-size: 40px;
          line-height: 50px;
          padding: 5px 15px;
        }
        .accordion-button.collapsed {
          font-size: 40px;
          line-height: 50px;
        }
      }
      .accordion-body {
        font-size: 24px;
        line-height: 42px;
      }
    }
  }

  // Team Section

  #team {
    padding-top: 200px;
    padding-left: 110px;
    padding-right: 110px;
    .card {
      margin-bottom: 30px;
      .card-body {
      }
      .card-text {
        font-size: 28px;
      }
    }
    #team-title {
      border-width: 10px;
      width: 430px;
      margin-bottom: 50px;
      span {
        font-size: 85px;
        line-height: 85px;
      }
    }
  }

  // FAQ Section

  #faq {
    padding-top: 200px;
    padding-left: 110px;
    padding-right: 110px;
  }

  #faq-title {
    border-width: 10px;
    width: 350px;
    span {
      font-size: 85px;
      line-height: 85px;
    }
  }

  #faq-accordion {
    .accordion-item {
      margin-top: 20px;
      .accordion-header {
        .accordion-button {
          font-size: 40px;
          line-height: 50px;
          padding: 5px 15px;
        }
        .accordion-button.collapsed {
          font-size: 40px;
          line-height: 50px;
        }
      }
      .accordion-body {
        font-size: 28px;
        line-height: 38px;
      }
    }
  }

  //Info Section

  #info {
    padding: 15px 0px;
    span {
      font-size: 20px;
    }
  }
}
